/* Styling for a container with action buttons */
.action-buttons {
  display: flex;
  align-items: center;
}
/* Styling for the Trash button */
.Trash {
  background-image: url("../../assets/media/trash-fill.svg");
    position: relative;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 15px;
    border: 0px;
    background-repeat: no-repeat;
    background-color: transparent;
  }
/* Styling for the edit/pencil button */
  .Pencil {
    background-image: url("../../assets/media/pencil-fill.svg");
    position: relative;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 15px;
    border: 0px;
    background-repeat: no-repeat;
    background-color: transparent;
  }
  /* Styling for customizing the color of pagination links */
  ngb-pagination ::ng-deep ul > li > a{
    color: black !important;
  }
  /* Styling for the active state of pagination links */
  ngb-pagination ::ng-deep ul > li.active > a {
    background-color: #7749f8 !important;
    color: white !important;
  }
/* Styling for the overall pagination component */
  ngb-pagination {
    margin-bottom: -30px;
  }

/* Styling for a button container with right-aligned content */
  .button{
    display: flex;
    justify-content: flex-end; 
  }

  .confirmation-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 70px;
    box-shadow: 40px 40px 40px rgba(0.6, 0.3, 0.4, 0.2);
    margin: 20px;
  }

  .confirm p{
    font-size: 30px;
  }

  .confirm button{
    background-color: #7749f8;
    color: white;
    justify-content: center;
    padding: 5px 6px;
    gap: 15px;
    border-radius: 6px;
    margin: 20px;
    margin-left: 90px;
    margin-bottom: -60px;
    font-size: 20px;
  }