
<div class="button">
	<button id="createRuleset" style="background-color: #7749f8; color: white; border-radius: 6px; padding: 5px 6px; border: none;"
	onclick="location.href = 'http://localhost:9012/createnewruleset';"
    >
    Create New Ruleset
  </button>
</div>
<hr>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Ruleset Name</th>
			<th scope="col">Created By</th>
			<th scope="col">Created On</th>
            <th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let ruleset of rulesetsData">
			<th scope="row">{{ ruleset.id }}</th>
			<td>{{ ruleset.name }}</td>
			<td>{{ ruleset.creator }}</td>
			<td>{{ ruleset.creationDate | date }}</td>
			<div class="action-buttons">
            	<td><button (click)="delete(ruleset.id)" class="Trash"></button><button (click)="edit(ruleset.id)" class="Pencil"></button></td>
			</div>
		</tr>
	</tbody>
</table>

<div class="d-flex justify-content-between p-2">
	<ngb-pagination
		[collectionSize]="collectionSize"
		[(page)]="page"
		[pageSize]="pageSize"
		(pageChange)="refreshRulesets()"
	>
	</ngb-pagination>

 </div>
