.action-buttons {
  display: flex;
  align-items: center;
}
.Trash {
  background-image: url("../../assets/media/trash-fill.svg");
    position: relative;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 15px;
    border: 0px;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  .Pencil {
    background-image: url("../../assets/media/pencil-fill.svg");
    position: relative;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 15px;
    border: 0px;
    background-repeat: no-repeat;
    background-color: transparent;
  }

ngb-pagination ::ng-deep ul > li > a{
  color: black !important;
}

ngb-pagination ::ng-deep ul > li.active > a {
  background-color: #7749f8 !important;
  color: white !important;
}

