<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Layout Name</th>
			<th scope="col">Created By</th>
			<th scope="col">Created On</th>
            <th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let layout of layouts">
			<th scope="row">{{ layout.Id }}</th>
			<td>{{ layout.name }}</td>
			<td>{{ layout.creator }}</td>
			<td>{{ layout.createdOn | date }}</td>
            <td><img src="../assets/media/trash-fill.svg" alt="delete logo" (click)="delete()" id="Trash"/><img src="../assets/media/pencil-fill.svg" alt="edit logo" (click)="edit()" id="Pencil"/></td>
		</tr>
	</tbody>
</table>

<div class="d-flex justify-content-between p-2">
	<ngb-pagination
		[collectionSize]="collectionSize"
		[(page)]="page"
		[pageSize]="pageSize"
		(pageChange)="refreshLayouts()"
	>
	</ngb-pagination>

 </div>
