.Trash {
  background-image: url("../../assets/media/trash-fill.svg");
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 15px;
    border: 0px;
  }
#Pencil {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

ngb-pagination ::ng-deep ul > li > a{
  color: black !important;
}

ngb-pagination ::ng-deep ul > li.active > a {
  background-color: #7749f8 !important;
  color: white !important;
}

