<div class="button">
	<button id="createLayout" style="background-color: #7749f8; color: white; border-radius: 6px; padding: 5px 6px; border: none;" onclick="location.href = 'https://localhost:4200/createnewlayout';"
    >
    Create New Layout
  </button>
</div>
<hr>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Layout Name</th>
			<th scope="col">Created By</th>
			<th scope="col">Created On</th>
            <th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let layout of layoutsData">
			<th scope="row">{{ layout.id }}</th>
			<td>{{ layout.name }}</td>
			<td>{{ layout.creator }}</td>
			<td>{{ layout.creationDate | date }}</td>
			<div class="action-buttons">
            	<td><button (click)="delete(layout.id)" class="Trash"></button><button (click)="edit(layout.id)" class="Pencil"></button></td>
			</div>
		</tr>
	</tbody>
</table>

<div class="d-flex justify-content-between p-2">
	<ngb-pagination
		[collectionSize]="collectionSize"
		[(page)]="page"
		[pageSize]="pageSize"
		(pageChange)="refreshLayouts()"
	>
	</ngb-pagination>

 </div>
