


.table {
  width: 80%;
  height: 50%;
  padding: 2%;
  margin-top: 30px;
  margin-left: 22px;
  margin-right: 22px;
  border-radius: 8px;
  background: var(--default-white, #fff);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
}

.main-body {
  display: flex;
}

/* .active {
  border-radius: 8px;
  background: var(--primary-color, #7749f8);
} */



.p,
button {
  color: black;
}

.main-body {
  background-color: white;
}

.nav-pills.active{
    color: #7749f8;
}

button.active{
  background-color: #7749f8 !important;
  color: white;
}


a{
  color: black;
  text-decoration: none;
}

#createLayout{
  background-color: #7749f8 !important;
  color: white;
  display: flex;
  justify-content: end;
  padding: 5px 6px;
  gap: 8px;
  border-radius: 6px;
}





