<div class="main-body">
  <app-sidebar></app-sidebar>
  <div class="table">
    <ul ngbNav #nav="ngbNav" class="nav-pills" [(activeId)]="active">
      <li ngbNavItem="layouts" [routerLink]="['/layouts']" routerLinkActive="active">
        <button
          ngbNavLink
          (click)="changeTab('layouts')"
        >
          Layouts
        </button>
        <ng-template ngbNavContent>
          <hr >
          <router-outlet></router-outlet>
        </ng-template>
      </li>
      <li ngbNavItem="rulesets" [routerLink]="['/rulesets']" routerLinkActive="active">
        <button
          ngbNavLink
          (click)="changeTab('rulesets')"
        >
          Rulesets
        </button>
        <ng-template ngbNavContent>
          <hr >
          <router-outlet></router-outlet>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
</div>
